body{
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titulo{
    text-align: center;
    color: gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mi_foto{
    width: 190px;
    height: 200;
    display: block;
    margin: 0 auto;
    border: 10px solid gold;
    border-radius: 6px;
}
.intro{
    background-color:rgb(0, 102, 255) ;
    border: 6px solid rgb(0, 102, 255);
    border-radius: 6px;
    
}
.nav{
    border: 2px solid yellow;
    background-color: yellow;
    border-radius: 6px;
    text-align: center;
}
.nav a {
    font-size: 20px;
    color: rgb(0, 89, 255);
    text-decoration: none;
}
.pasiones{
    background-color: rgb(0, 166, 255);

}
.tp{
    color: yellow;
}
.tesla{
    width: 250px;
    height: 209;
    display: block;
    margin: 0 auto;
    border: 4px solid gold;
    border-radius: 6px;
}
.cap{
    text-align: center;
    color: yellow;
}
.Ta{
    color: yellow;
}
.algoritmos{
    background-color:rgb(0, 166, 255) ;
}
.foto_algoritmos{
    width: 198px;
    height: 209px;
    display: block;
    margin: 0 auto;
    border: 4px solid gold;
}
.fa{
    text-align: center;
    color: gold;
}
.proyectos{
    color: gold;

}
.tpro{
    background-color: rgb(0, 166, 255);

}
.git{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: yellow;
    border: 4px solid yellow;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    width: fit-content;
}
.tvi {
    color: gold;
}
.pvi {
    background-color: rgb(0, 166, 255);
}